<%= form_for(hour) do |f| %>
    <% if hour.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(hour.errors.count, "error") %> prohibited this hour from being saved:</h2>

          <ul>
            <% hour.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div id="hoursFormContainter">
      <div class="field" id="fieldCourse">
        <%  @courses = Course.all %>
        <%= f.collection_select :course_id, @courses, :id, :name %>
      </div>

      <div class="field" id="fieldDate">
        <%= f.label :date %>
        <%= f.date_select :date %>
      </div>


      <div class="field" id="fieldHours">
        <%= f.label :hours %>
        <%= f.text_field :hours%>
      </div>

      <div class="actions" id="createHourButton">
        <%= f.submit %>
      </div>
    </br>
<% end %>
</div>