
<h1>Timesheet</h1>

<div class="container">
  <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab" id="hoursTable">
      <thead>

      <tr>
        <th>Subject</th>
        <th>Date</th>
        <th>Hours</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>
      <tr>
        <% @hours.each do |hour| %>
        <td><%= hour.course.name %></td>
        <td><%= hour.date %></td>
        <td><%= hour.hours %></td>
            <td class="text-center">
              <%= link_to 'Edit', edit_hour_path(hour), class:'btn btn-info btn-xs'%> <a></a><%= link_to 'Delete', hour, method: :delete, class:'btn btn-info btn-xs', data: {confirm: 'Are you sure?'} %></a></td>
            </tr>
        <% end %>
    </table>
  </div>
</div>
<br>
<%= link_to 'Log Hours', new_hour_path, id: 'showHourForm', class:"btn btn-primary btn-default", remote: true %>
<div id="newHourFormContainer">
  <!-- the new form will be rendered here -->
</div>

