<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @hour.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= @hour.course %>
</p>

<p>
  <strong>Date:</strong>
  <%= @hour.date %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @hour.hours %>
</p>

<%= link_to 'Edit', edit_hour_path(@hour) %> |
<%= link_to 'Back', hours_path %>
