<div class="containerComments">
  <div class="row">
    <div class="col-md-11">

      <%= render 'comments/form' %>


      <% @comments.each do |c| %>
          <div class="comments-list">
            <div class="media">
              <p class="pull-right">
                <small><%= c.created_at %></small>
                <% if current_user.id == c.user_id||current_user.admin %>
                <small><a><%= link_to 'Delete', comment_path(:comment_id => c.id), method: :delete %></a></small>
                <% end %>
              </p>
              <a class="media-left">
                <h4 class="media-heading user_name"><p><%= User.find_by_id(c.user_id).name %></p></h4>
              </a>
              <div class="media-body">
                <p><%= c.text %></p>
              </div>

            </div>

      <% end %>

      </div>

    </div>
  </div>
</div>
