<%= form_for([@news_feed, @news_feed.comments.build]) do |f| %>
    <div class="containerCommentField">
      <div class="row">

        <div class="col-md-11">
          <form>

            <div class="form-group_new">
              <%= f.text_area :text, class: "form-control", :rows => 5 %>
            </div>

            <div class="actions">
              <%= f.submit "add comment", class: "btn btn-default" %>
            </div>
          </form>
        </div>

      </div>
    </div>
<% end %>