<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <%= stylesheet_link_tag "ruby_assignment/app/assets/stylesheets/session.css.scss" %>
</head>
<body>
</br>
<div class = "form">
  <% if flash[:alert] %>
      <p id="notice"> <%= flash[:alert] %> </p>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Log in</h3>
          </div>
          <div class="panel-body">
            <fieldset>
              <%= form_tag do %>

                  <div id="txtUsuario">
                    <div class="form-group">
                      <%= label_tag :email, 'Email:'%>
                      <%= text_field_tag  :email, params[:email], class: 'form-control' %>
                    </div>
                  </div>

                  <div id ="passwordField">
                    <div class="form-group">
                      <%= label_tag :password, 'Password:' %>
                      <%= password_field_tag  :password, params[:password], class: 'form-control' %>
                    </div>
                  </div>

                  <div id="loginButton">
                    <%= submit_tag 'Log in', class:'class="btn btn-success"' %>
                  </div>
                  </fieldset>
              <%end%>
              </div>
        </div>
        <p>This is just a student project, and no real(sensitive) information will be stored.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
