<h1>My Page</h1>
<h4>Check your logged hours and profile credentials</h4>
</br>
<div>
<%= link_to "Show my information", current_user %>
</div>
<div>
<%=  link_to "Show my logged hours", hours_url %>
</div>