<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div id="userFormContainer">

    <div class="field" id="nameField">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control"%>
    </div>

    <div class="field" id="ssnrField">
      <%= f.label :ssnr %>
      <%= f.text_field :ssnr, class: "form-control" %>
    </div>


    <div class="field" id="emailField">
      <%= f.label :email %>
      <%= f.text_field :email,  class:"form-control" %>
    </div>

    <div class="field" id="streetField">
      <%= f.label :street %>
      <%= f.text_field :street,  class:"form-control"%>
    </div>

    <div class="field" id="zipField">
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode,  class:"form-control" %>
    </div>

    <div class="field" id="cityField">
      <%= f.label :city %>
      <%= f.text_field :city, class:"form-control"%>
    </div>

    <div class="field" id="userPasswordField">
      <%= f.label :password %>
      <%= f.password_field :password,  class:"form-control"%>
    </div>

    <div class="field" id="userPasswordConfirmField">
      <%= f.label :confirm_password %>
      <%= f.password_field :password_confirmation,  class:"form-control" %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

</div>