<p id="notice"><%= notice %></p>
<h1>Users</h1>

<div id="buttonShowTableContentsUser">

</div>

<div class="container">
  <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab" id="hoursTable">
      <thead>
      <tr>
        <th>Ssnr</th>
        <th>Email</th>
        <th class="text-center"></th>
      </tr>
      </thead>

      <tr>
        <% @users.each do |user| %>
            <td><%= user.ssnr %></td>
            <td><%= user.email %></td>
            <td class="text-center">
              <%= link_to 'Edit', edit_user_path(user), class: "btn btn-info btn-xs" %>
              <a></a>
              <%= link_to 'Delete', user, class: "btn btn-info btn-xs", method: :delete, data: {confirm: 'Are you sure?'} %>
              <a></a>
              </span><%= link_to 'Show', user, class: "btn btn-info btn-xs" %></td>
            </td>
            </tr>
        <% end %>
        </table>
  </div>
</div>
<br>
<%= link_to 'Create new user', new_user_path, id: "showUserForm", remote: true, class: "btn btn-primary btn-default" %>

<div id="newUserContainer">
  <!-- new form is rendered here -->
</div>
