<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @user.name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://www.clker.com/cliparts/5/9/4/c/12198090531909861341man%20silhouette.svg.hi.png" class="img-circle img-responsive"> </div>


            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td><strong>Name:</strong></td>
                  <td><%= @user.name %></td>
                </tr>
                <tr>
                  <td><strong>Ssnr:</strong></td>
                  <td><%= @user.ssnr %></td>
                </tr>
                <tr>
                  <td><strong>Email:</strong></td>
                  <td><%= @user.email %></td>
                </tr>
                <tr>
                <tr>
                  <td><strong>Street:</strong></td>
                  <td><%= @user.street %></td>
                </tr>
                <tr>
                  <td><strong>City:</strong></td>
                  <td><%= @user.city %></td>
                </tr>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <% if current_user.admin || current_user.id == @user.id %>
              <%= link_to 'Edit', edit_user_path(@user), class:'footerOptions'%>
          <%end%>
          <span class="pull-right">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
