<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<div class="container">
  <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab" id="hoursTable">
      <thead>

      <tr>
        <th>Code</th>
        <th>Name</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>

      <tr>
        <% @courses.each do |course| %>
            <td><%= course.code %></td>
            <td><%= course.name %></td>
            <td class="text-center">
              <%= link_to 'Edit', edit_course_path(course), class:'btn btn-info btn-xs'%> <a></a><%= link_to 'Delete', course, method: :delete, class:'btn btn-info btn-xs', data: {confirm: 'Are you sure?'} %></a></td>
            </tr>
        <% end %>
        </table>
  </div>
</div>
<br>
<%= link_to 'Add new subject', new_course_path, class: "btn btn-primary btn-default" %>

