/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_bootstrap
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body, tbody, html {
  width: 100%;
  height: 100%;
  text-align: center;
}

.container{

}

table {
  margin: auto;
}

.text-center {
  margin-left: 35px;
}

h1{
  font-size: 50px;
}
/*
    Adjust these settings for the actualt menu bar.
 */
.navBarTop {
  overflow: hidden;
  background-color: #333;
}

#userLoggedIn {
  float: right;
  margin-right: 3%;
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 15px;
}

/*
    Adjust these settings for the objects inside the menubar.
 */

.navBarTop a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBarTop a:hover, #topNavBar a.highlight, #topNavBar a.active {
  background-color: #ffffff;
  color: #000;
}


/*
    FOOTER
 */
footer{
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  text-align: center;
  color: #CCC;
}

footer p {
  padding: 10.5px;
  margin: 0px;
  line-height: 100%;
}
/**
    CSS for the tables in timeliste and din side
 */


.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: auto;
}

#hoursTable{
  margin-left: 20%;
}

#buttonShowTableContents{
  margin: auto;
  padding-left: 35%;
}

/*
    BUTTONS
 */
.btn{
  color: #ffffff;
  background: #000000;
  border-color: #000000;
}


/**
    Error handling
 */
#error_explanation{
  margin: auto;
}
.field_with_errors {
    display: inline;
}


