// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_name{
  font-size:14px;
  font-weight: bold;
  color: #000;
}

.media-left{
  pointer-events: none;
  cursor: default;
}

.containerComments{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-left: 10%;
}




