// Place all the styles related to the Hours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Hours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editHourFormContainer, #newHourFormContainer{
  margin: 5% auto 5% 40%;
  width: 400px;
  display: none;
}

#createHourButton{
  margin-top: 10%;
}


#buttonShowTableContents{
  padding-right: 10%;
}