// Place all the styles related to the NewsFeeds controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


textarea{
  resize: none;
  height: 100px;
  width: 350px;
}

.text_area{
  height: 100px;
  width: 350px;
}

#formContainer{
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding-bottom: 5%;
}

#commentContainer{
}

#editNewsHeader{
  margin: 100px auto 100px;
  text-align: center;
  font-size: 50px;
}

#newNewsFormContainer{
  display: none;
}


.header{
  padding-bottom: 20px;
}
.blogShort{
  border-bottom:1px solid #ddd;
  margin-left: 5%;

}
.add{background: #333; padding: 10%; height: 300px;}


.btn-blog {
  color: #ffffff;
  background-color: #000000;
  margin: 0 auto 0 50%;
  align-content: center;
  position: absolute;
  right: 47%;
  bottom:80%;
}


.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.open .dropdown-toggle.btn-blog {
  color: white;
}
h2{color:#000;
  text-decoration:none; }
.margin10{margin-bottom:10px; margin-right:10px;}


.linkList{
  display: inline;
  padding: 4px;
}





/*
For the create new news post
 */


