// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.form-group{
  display: block;
  margin: auto;
  width: 100%;
}


#logo{
  display: block;
  margin: auto;
  width: 50%;

}