// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#buttonShowTableContentsUser{
  padding-left: 23%;
  padding-bottom: 1%;
}

#userFormContainer{
  margin: auto;
  width: 400px;
}
#newUserContainer{
  margin: 5% auto 5% 40%;
  display: none;
  width: 400px;
}

/*
    Display user information
 */

.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.table-user-information > tbody > tr {
  border-top: 1px solid;
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}


.table-user-information > tbody > tr > td {
  border-top: 0;
}
.toppad
{margin-top:20px;
}

.panel-heading{
  background-color: black !important;
}

.panel-title{
  color: white !important;
}

.panel-info, .panel-footer{
  border-color: black !important;
}


.panel-footer{
  background-color: black !important;
}

.footerOptions{
  color: white;
}