<div id="formContainer">
  <%= form_for(news_feed) do |f| %>
      <% if news_feed.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(news_feed.errors.count, "error") %> prohibited this news_feed from being saved:</h2>
            <ul>
              <% news_feed.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <div class="actions">
      </div>

      <section>
        <div class="form-group_new" id="newsTitle">
          <%= f.label :Title %>
          <%= f.text_field :title, class: "form-control", :size => "75" %>
        </div>

        <div class="form-group_new" id="newsText">
          <label for=exampleInputName2"><%= f.label :content %></label>
          <%= f.text_area :text, class: "form-control", :rows => 10%>
        </div>
        <%= f.submit "Publish post", class: "btn btn-default" %>


  <% end %>

  </section>
</div>
