<p id="notice"><%= notice %></p>

<h1 class="header">News</h1>

<%= link_to 'New post', new_news_feed_path, class:"btn btn-primary btn-default", id: "showNewsFormBtn", remote: true %>

<div id="newNewsFormContainer">
  <!-- the new news form is rendered here -->
</div>

<table>
  <thead>
  </thead>

  <tbody>
  <% @news_feeds.each do |news_feed| %>

      <div class="container">

        <div class="col-md-11 blogShort">

          <br><p>
            <h2 class="newsFeedTitle"><%= link_to news_feed.title, news_feed %></h2>
            <p><%= news_feed.text %></p>
            <p>By: <%= news_feed.user.name %></p>
            </p>
            <p>
            <% if current_user.id == news_feed.user_id||current_user.admin %>
                <li class="linkList"><%= link_to 'Edit', edit_news_feed_path(news_feed) %></li>
                <li class="linkList"><%= link_to 'Delete', news_feed, method: :delete, data: {confirm: 'Are you sure?'} %></li>
            <% end %>
            </p>
          </article>
          </br>
        </div>
      </div>
      </div>


  <% end %>
  </tbody>

</table>
