<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<table>
  <thead>
  </thead>
  <tbody>
  <div class="container">
    <div class="col-md-11 blogShort">
      <article></article>
      <p id="notice"><%= notice %></p>
      <article><p>
        <h2 class="newsFeedTitle"><%= @news_feed.title %></h2>
        <p><%= @news_feed.text %></p>
        <p>By: <%= @news_feed.user.name %></p>
        </p>
      </article>
    </div>
  </div>
  </tbody>
</table>

<%= link_to 'Show/Hide Comments', '#', id: "comments-link"%>
<div id="commentContainer">
  <%= render partial: 'comments/comment'%>
</div>